<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert_board</key>
            <dict>
                <key>frame</key>
                <string>{{657,854},{360,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{360,181}}</string>
                <key>sourceSize</key>
                <string>{362,183}</string>
            </dict>
            <key>background</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,1192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,1192}}</string>
                <key>sourceSize</key>
                <string>{642,1192}</string>
            </dict>
            <key>blue_ball</key>
            <dict>
                <key>frame</key>
                <string>{{791,1592},{62,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{62,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_continue</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1551},{108,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_continue_active</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1436},{108,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_home</key>
            <dict>
                <key>frame</key>
                <string>{{657,1477},{110,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_home_active</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1023},{110,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_intro</key>
            <dict>
                <key>frame</key>
                <string>{{657,1384},{276,90}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{276,90}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>btn_intro_active</key>
            <dict>
                <key>frame</key>
                <string>{{936,1343},{276,90}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{276,90}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>btn_pause</key>
            <dict>
                <key>frame</key>
                <string>{{986,1038},{110,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_pause_active</key>
            <dict>
                <key>frame</key>
                <string>{{873,1038},{110,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_quit</key>
            <dict>
                <key>frame</key>
                <string>{{657,1289},{276,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{276,92}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>btn_quit_active</key>
            <dict>
                <key>frame</key>
                <string>{{936,1248},{276,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{276,92}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>btn_rank</key>
            <dict>
                <key>frame</key>
                <string>{{760,1038},{110,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_rank_active</key>
            <dict>
                <key>frame</key>
                <string>{{647,1038},{110,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_restart</key>
            <dict>
                <key>frame</key>
                <string>{{992,1551},{108,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_restart_active</key>
            <dict>
                <key>frame</key>
                <string>{{992,1436},{108,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_setting</key>
            <dict>
                <key>frame</key>
                <string>{{881,1477},{108,112}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_setting_active</key>
            <dict>
                <key>frame</key>
                <string>{{770,1477},{108,112}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_start</key>
            <dict>
                <key>frame</key>
                <string>{{657,1194},{276,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{276,92}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>btn_start_active</key>
            <dict>
                <key>frame</key>
                <string>{{938,1153},{276,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{276,92}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>cancel_btn</key>
            <dict>
                <key>frame</key>
                <string>{{1150,802},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>confirm_quit</key>
            <dict>
                <key>frame</key>
                <string>{{647,1153},{288,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{288,38}}</string>
                <key>sourceSize</key>
                <string>{290,44}</string>
            </dict>
            <key>eye</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1008},{46,26}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{46,26}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>game_board</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{586,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{586,722}}</string>
                <key>sourceSize</key>
                <string>{586,734}</string>
            </dict>
            <key>grade</key>
            <dict>
                <key>frame</key>
                <string>{{1099,982},{122,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,38}}</string>
                <key>sourceSize</key>
                <string>{122,38}</string>
            </dict>
            <key>green_ball</key>
            <dict>
                <key>frame</key>
                <string>{{724,1592},{64,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>logo</key>
            <dict>
                <key>frame</key>
                <string>{{657,727},{490,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,38},{490,124}}</string>
                <key>sourceSize</key>
                <string>{522,202}</string>
            </dict>
            <key>next</key>
            <dict>
                <key>frame</key>
                <string>{{1099,941},{122,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,38}}</string>
                <key>sourceSize</key>
                <string>{122,38}</string>
            </dict>
            <key>ok_btn</key>
            <dict>
                <key>frame</key>
                <string>{{1150,727},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>pause</key>
            <dict>
                <key>frame</key>
                <string>{{1020,877},{210,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{210,61}}</string>
                <key>sourceSize</key>
                <string>{222,65}</string>
            </dict>
            <key>red_ball</key>
            <dict>
                <key>frame</key>
                <string>{{657,1592},{64,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>sun</key>
            <dict>
                <key>frame</key>
                <string>{{2,1197},{652,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,462}}</string>
                <key>sourceSize</key>
                <string>{652,462}</string>
            </dict>
            <key>yellow_ball</key>
            <dict>
                <key>frame</key>
                <string>{{1020,941},{64,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ball_images.pvr.ccz</string>
            <key>size</key>
            <string>{1235,1665}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec2fef5f6d35f4110c7ad583769e36ac$</string>
            <key>textureFileName</key>
            <string>ball_images.pvr.ccz</string>
        </dict>
    </dict>
</plist>
