<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert_board</key>
            <dict>
                <key>frame</key>
                <string>{{647,854},{360,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{360,181}}</string>
                <key>sourceSize</key>
                <string>{362,183}</string>
            </dict>
            <key>background</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,1124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,1124}}</string>
                <key>sourceSize</key>
                <string>{642,1124}</string>
            </dict>
            <key>blue_ball</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1584},{62,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{62,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_continue</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1429},{108,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_continue_active</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1314},{108,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_home</key>
            <dict>
                <key>frame</key>
                <string>{{936,1199},{110,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_home_active</key>
            <dict>
                <key>frame</key>
                <string>{{936,1084},{110,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_intro</key>
            <dict>
                <key>frame</key>
                <string>{{657,1553},{276,90}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{276,90}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>btn_intro_active</key>
            <dict>
                <key>frame</key>
                <string>{{657,1460},{276,90}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{276,90}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>btn_pause</key>
            <dict>
                <key>frame</key>
                <string>{{1123,969},{110,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_pause_active</key>
            <dict>
                <key>frame</key>
                <string>{{1010,969},{110,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_quit</key>
            <dict>
                <key>frame</key>
                <string>{{657,1365},{276,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{276,92}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>btn_quit_active</key>
            <dict>
                <key>frame</key>
                <string>{{657,1270},{276,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{276,92}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>btn_rank</key>
            <dict>
                <key>frame</key>
                <string>{{1123,854},{110,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_rank_active</key>
            <dict>
                <key>frame</key>
                <string>{{1010,854},{110,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_restart</key>
            <dict>
                <key>frame</key>
                <string>{{936,1429},{108,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_restart_active</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1199},{108,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_setting</key>
            <dict>
                <key>frame</key>
                <string>{{936,1314},{108,112}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_setting_active</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1084},{108,112}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_start</key>
            <dict>
                <key>frame</key>
                <string>{{657,1175},{276,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{276,92}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>btn_start_active</key>
            <dict>
                <key>frame</key>
                <string>{{657,1080},{276,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{276,92}}</string>
                <key>sourceSize</key>
                <string>{282,132}</string>
            </dict>
            <key>cancel_btn</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1084},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>eye</key>
            <dict>
                <key>frame</key>
                <string>{{909,1038},{46,26}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{46,26}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>game_board</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{586,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{586,722}}</string>
                <key>sourceSize</key>
                <string>{586,734}</string>
            </dict>
            <key>green_ball</key>
            <dict>
                <key>frame</key>
                <string>{{936,1584},{64,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>logo</key>
            <dict>
                <key>frame</key>
                <string>{{647,727},{490,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,38},{490,124}}</string>
                <key>sourceSize</key>
                <string>{522,202}</string>
            </dict>
            <key>ok_btn</key>
            <dict>
                <key>frame</key>
                <string>{{1140,727},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>red_ball</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1226},{64,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>sun</key>
            <dict>
                <key>frame</key>
                <string>{{2,1129},{652,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,462}}</string>
                <key>sourceSize</key>
                <string>{652,462}</string>
            </dict>
            <key>txt_next</key>
            <dict>
                <key>frame</key>
                <string>{{936,1544},{126,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{126,37}}</string>
                <key>sourceSize</key>
                <string>{130,41}</string>
            </dict>
            <key>txt_over</key>
            <dict>
                <key>frame</key>
                <string>{{215,1594},{210,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{210,61}}</string>
                <key>sourceSize</key>
                <string>{218,65}</string>
            </dict>
            <key>txt_pause</key>
            <dict>
                <key>frame</key>
                <string>{{2,1594},{210,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{210,61}}</string>
                <key>sourceSize</key>
                <string>{222,65}</string>
            </dict>
            <key>txt_score</key>
            <dict>
                <key>frame</key>
                <string>{{428,1594},{126,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,39}}</string>
                <key>sourceSize</key>
                <string>{130,41}</string>
            </dict>
            <key>txt_warning</key>
            <dict>
                <key>frame</key>
                <string>{{647,1038},{259,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,39}}</string>
                <key>sourceSize</key>
                <string>{261,41}</string>
            </dict>
            <key>yellow_ball</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1159},{64,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ball_images.pvr.ccz</string>
            <key>size</key>
            <string>{1235,1657}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8c04710e81deb3bdd549578272c9e76$</string>
            <key>textureFileName</key>
            <string>ball_images.pvr.ccz</string>
        </dict>
    </dict>
</plist>
